*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.max-width{
    max-width: 1300px;
    padding: 0 2rem;
    margin: auto;
}

h1,h2,h3,p{
    z-index: 3;
}

html{
    scroll-behavior: smooth;
}

section{
    padding: 100px 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}