@font-face {
    font-family: Montserrat;
    src: url(/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: SansPro;
    src: url(/Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}