 .container{
     width: 100%;
     min-height: 100vh;
     background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(rolls-royce-phantom-luxury-cars-5k-3840x2160-2314);
     background-position: center;
     background-size: cover;
     padding: 0 8%;
 }

 nav{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
    padding: 20px 0;

 }
 .nav-logo img{
    width: 160px;

 }
 .nav-links{
     display: flex;
     flex: 1;
     align-items: center;
     justify-content: space-between;

 }
 .nav-links a{
     text-decoration: none;
     color: white;
     margin-left: 40px;

 }
 .nav-links .btn{
     background: white;
      color: black;
      padding: 8px 30px;
      border-radius: 4px;
    
 }

 .content{
     margin-top: 180px;
     color: white;

 }
 .content h1{
     font-size: 60px;

 }
 .search-box{
     background: white;
     width: fit-content;
     display: flex;
     align-items: center;
     padding: 18px 20px;
     border-radius: 5px;
     margin: 20px 0 ;

 }
 .search-box input{
     background: transparent;
     width: 600px;
     border: 0;
     outline: none;

 }
.search-box button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.search-box button img{
    width: 22px;

}
.arrow{
    margin-top: 120px;
}
.arrow img{
    width: 15px;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
    box-sizing: content-box;
    margin-right: 6px;
    cursor: pointer;
    
}

@media (max-width:700px){
    .search-box input {
        width: 230px;
        
    }
    .nav-logo{
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;

    }
    .nav-links{
        justify-content: center;

    }
    .nav-links a{
        margin-left: 10px;
        margin-right: 10px;

    }
    .nav-links .btn{
        background: transparent;
        color: #fff;
        padding: 0;
    }
    .content h1{
        font-size: 30px;

    }
    .content{
        margin-top: 85px;

    }
    .search-box{
        padding: 10px 20px;

    }
    .search-box button img{
        width: 16px;
    }
}