.parent {
    position: relative;
    background-color: rgb(91, 184, 70);
    height: 200vh;
    padding: 30px;
    font-size: 3em;
}

.child-one {
    position: sticky;
    background-color: orange;
    padding: 30px;
    font-size: 1em;
    top: 0;
}

.child-two{
    position: relative;
    padding: 30px;
    background-color: red;
    font-size: 2em;
}

.child-three{
    position: fixed;
    padding: 30px;
    background-color: purple;
    font-size: 1.5em;
}