
/* font family Montserrat */
@font-face {
    font-family: Montserrat;
    src: url('../Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

/* font family Sans Pro */
@font-face {
    font-family: Montserrat;
    src: url('../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}