
@import url('../Css/fonts.css');


html,body{
    margin: 0%;
    box-sizing:border-box;
    overflow-x:hidden;
}

:root{
    /*   theme font family    */
    --Montserrat:'Montserrat',cursive;
}

/*---------------Global Classes--------------------*/
a{
    text-decoration: none;
    color: black;
}

.flex-row{
    display:flex;
    flex-direction: row ;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}
/*------------navbar-------------*/

.nav{
    background: white;
    padding:0 2rem;
    height: 0rem;
    min-height: 15vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width: 90%;
    cursor:pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: grey;
}

.collapse{
    height:45rem;
}

.nav .nav-items{
    display: flex;
    margin:0;
}

.nav .nav-items .nav-link{
    padding: 2.4rem 1rem;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--Montserrat);
    font-weight: 800;

}

.nav .nav-items .nav-link:hover a{
    color: #b1b1b1;
}

.nav .nav-brand a{
    padding: 2rem;
    text-decoration: none;
    display: block;
    font-family: var(--Montserrat);
    font-weight: 800;
    font-style: italic;
    font-size: 2.3rem;
}

.nav .nav-brand a:hover{
    color:#b1b1b1;
}

.nav .social{
    padding: 2.5rem;
}

.nav .social i{
    padding: 0.3rem;
}

.nav .social i:hover{
    color:#b1b1b1;
}
/*------x------navbar-------x------*/


/*      Viewport less then or equal to 750px          */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav-items{
        flex-direction: column;
    }
    .nav .toggle-collapse{
        display: initial;
    }
}

/*      Viewport less then or equal to 750px          */
