.blue {
    color: blue;
}

h1 {
    color: blue;
}

body {
    color: rgb(5, 8, 41);
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid blue;
    background-color: rgb(39, 36, 36);
}

.box  {
    height: 100px;
    width: 2rem;
    padding: 20px;
    margin: 50px;
    border: 10px solid blue;
    background-color:  rgb(39, 36, 36);
}